* {
    border: 1px solid red;
}

body {
    border: 5px solid blue;
}

#special {
    background: rgba(0, 255, 0, 0.4);
}

.class {
    background: rgba(225, 0, 0, 0.3);
}

div p {
    font-size: 20px;
    background: #fff500
}
