table {
    margin: auto;
}

td:hover {
    border: 1px solid green;

}

td {
    height: 100px;
    width: 100px;

}

.horizontal {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}

.vertical {
    border-left: 1px solid green;
    border-right: 1px solid green;
}

h1 {
    text-align: center;
}
